<div class='card'
     *ngIf='product'>
  <div class='card-header'>
    {{pageTitle + ': ' + product.productName}}
  </div>

  <div class='card-body'>
    <div class='row'>
      <div class='col-md-8'>
        <div class='row'>
          <div class='col-md-4'>Name:</div>
          <div class='col-md-8'>{{product.productName}}</div>
        </div>
        <div class='row'>
          <div class='col-md-4'>Code:</div>
          <div class='col-md-8'>{{product.productCode }}</div>
        </div>
        <div class='row'>
          <div class='col-md-4'>Description:</div>
          <div class='col-md-8'>{{product.description}}</div>
        </div>
        <div class='row'>
          <div class='col-md-4'>Created:</div>
          <div class='col-md-8'>{{product.releaseDate}}</div>
        </div>
        <div class='row'>
          <div class='col-md-4'>Price:</div>
          <div class='col-md-8'>{{product.price|currency:'USD':'symbol'}}</div>
        </div>
        <div class='row'>
          <div class='col-md-4'>Rating:</div>
          <div class='col-md-8'>
            <pm-star [rating]='product.starRating'>
            </pm-star>
          </div>
        </div>
        <div class='row'>
          <div class='col-md-4'>Type:</div>
          <div class='col-md-8'>{{product.type}}</div>
        </div>
        <div class='row'>
          <div class='col-md-4'>Collateral Agent:</div>
          <div class='col-md-8'>{{product.collateralAgent}}</div>
        </div>
        <div class='row'>
          <div class='col-md-4'>Administrative Agent:</div>
          <div class='col-md-8'>{{product.adminAgent}}</div>
        </div>
      </div>

      <div class='col-md-4'>
        <img class='center-block img-responsive'
             [style.width.px]='200'
             [style.margin.px]='2'
             [src]='product.imageUrl'
             [title]='product.productName'>
      </div>
    </div>
  </div>

  <div class='card-footer'>
    <button class='btn btn-outline-secondary'
            (click)='onBack()'
            style='width:80px'>
      <i class='fa fa-chevron-left'></i> Back
    </button>
  </div>
</div>
