﻿<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/logo.png"
             class="img-responsive center-block"
             style="max-height:300px;padding-bottom:50px" />
      </div>

      <!-- <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Ankur Vatsa</h3>
      </div> -->

      <!-- <div class="text-center">@ankurvatsa</div>
      <div class="text-center">
        <a href="https://www.linkedin.com/in/ankurvatsa/">Ankur Vatsa</a>
      </div> -->
    </div>
  </div>
</div>
